div{
  background-color:rgba(69,205,208,0.75);
padding-top: 1.5cm;
padding-bottom:1cm;
margin-right:1cm;
margin-left:1cm;
margin-bottom:1cm;
margin-top:1.5cm;
 
}body {
   background-image: url("whitehouse.jpg");
 }



p{
  opacity:100%;
	padding-left:1.5cm;
	padding-right:1.5cm;
}
button{
    background-color:yellow;
    width:100%;
    color:black;
    font-size: 15pt;
     border-radius: 25px;
	 padding: 10px;
  	width: 100px;
  	height: 50px;
}
.stickynote2{
  background-image: url("../images/stickynote.jpg");
   width:100%;
    color:black;
    font-size: 15pt;
     border-radius: 25px;
   padding: 10px;
    width: 100px;
    height: 50px;
}
.stickynote1{
  background-image: url("../images/sticknote3.jpg");
}
h1 {
  color: black;
   font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 50px;
}

p{
	color:black;
	   font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	text-align: center;
	font-size:20px;
}
img{
  padding:.5cm;
}
.description{
  font-size: 15px;
  text-align: left;
}
.description2{
  width: 25%;
}
.ideas{
  text-align:left;
}
.images{
  margin-left:10cm;
  margin-right: 10cm;
  margin-bottom:0cm;
  padding-bottom: 0cm;
}

.image3{
  width:25%;
  margin-left: 12cm;
  margin-right: 10cm;
}
.side1{
  width: 40%;
}
.side2{
  width: 25%;

}
